<header class="header">
  <div class="logo">
    <img
      src="../assets/images/Logo_fondo_negro.png"
      alt="Logo"
      class="logo__img"
    />
    <h1 class="logo__text">Plural Café</h1>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/about">Nosotros</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/courses">Cursos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" routerLink="/blog">Blog</a>
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link--important" routerLink="/signup"
          >Regístrate</a
        >
      </li>
      <li class="nav__item">
        <a class="nav__link nav__link--important" routerLink="/login"
          >Inicia Sesión</a
        >
      </li>
    </ul>
  </nav>
</header>
