@import "../../../styles.scss";

.header {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  color: white;
  padding: 1.5rem 2rem;
  font-family: $body-font;
  background-color: $black-color;
}

.logo {
  display: flex;

  &__img {
    border-radius: 50%;
    width: 50px;
  }
  &__text {
    font-family: $logo-font;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    padding: 0rem 1rem;
  }

  &__link {
    color: white;

    &--important {
      font-weight: 700;
    }
  }
}
