<div class="container">
  <form [formGroup]="form" class="form" (ngSubmit)="(signup)">
    <h2 class="form__title">Registro</h2>
    <div class="form__container">
      <div class="form__group">
        <label for="">Nombre Completo: </label>
        <input
          type="text"
          formControlName="name"
          appInputValidation
          class="form__input"
        />
      </div>
      <div class="form__group">
        <label for="">Apodo: </label>
        <input
          type="text"
          formControlName="nickname"
          appInputValidation
          class="form__input"
        />
      </div>
      <div class="form__group">
        <label for="">Correo electrónico: </label>
        <input
          type="text"
          formControlName="email"
          appInputValidation
          class="form__input"
        />
      </div>
      <div class="form__group">
        <label for="">Contraseña: </label>
        <input
          type="password"
          formControlName="password"
          appInputValidation
          class="form__input"
        />
      </div>
      <button type="submit" [disabled]="!form.valid" class="form__submit">
        Registrarme
      </button>
    </div>
  </form>
</div>
