<div class="container">
  <ngbd-carousel-navigation [images]="imagesArray"></ngbd-carousel-navigation>
  <section class="slider section"></section>
  <section class="history section">
    <div class="history__container">
      <div class="history__data">
        <h2 class="history__title">Lorem ipsum dolor sit amet</h2>
        <p class="history__description">
          Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit
          enim labore culpa sint ad nisi Lorem pariatur mollit ex esse
          exercitation amet. Nisi anim cupidatat excepteur officia.
          Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
          voluptate dolor minim nulla est proident. Nostrud officia pariatur ut
          ullamco ut ea consectetur et est culpa et culpa duis.
        </p>
        <figure class="history__img-container">
          <img
            src="./assets/images/recolector.jpg"
            alt=""
            class="history__img"
          />
        </figure>
      </div>
    </div>
  </section>
  <section class="products section">
    <h2 class="section__title">Nuestros Productos</h2>
    <div class="products__container">
      <ul class="products__list">
        <li class="products__item">
          <div class="products__data">
            <img
              src="./assets/images/product-photo1.jpg"
              alt=""
              class="products__img"
            />
            <h5 class="products__title">Cafe</h5>
            <p class="products__description">Visita nuestra tienda online</p>
          </div>
        </li>
        <li class="products__item">
          <div class="products__data">
            <img
              src="./assets/images/product-photo2.jpg"
              alt=""
              class="products__img"
            />
            <h5 class="products__title">Gift card</h5>
            <p class="products__description">Visita nuestra tienda online</p>
          </div>
        </li>
        <li class="products__item">
          <div class="products__data">
            <img
              src="./assets/images/product-photo3.jpg"
              alt=""
              class="products__img"
            />
            <h5 class="products__title">Cafetera</h5>
            <p class="products__description">Visita nuestra tienda online</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
