@import "./src/styles.scss";

.container {
  flex-direction: column;
}

.section {
  max-height: 101vh;
  width: 100%;

  &__title {
    text-align: center;
    font-size: 3rem;
    font-family: $title-font;
    color: $white-color;
    padding: 4rem;
  }
}

.history {
  &__container {
    padding: 5rem;
    background-color: $pink-color;
  }

  &__data {
    display: grid;
    gap: 3rem;
    justify-items: center;
    align-content: center;
    grid-template-rows: min-content max-content;
    grid-template-columns: 1fr 1fr;
    color: $white-color;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
  }

  &__title {
    font-size: 2rem;
    text-align: start;
    font-family: $title-font;
    align-self: last baseline;
  }

  &__description {
    font-family: $body-font;
    font-size: 1.5rem;
    max-width: 500px;
  }

  &__img-container {
    grid-row: 1/3;
    grid-column: 2;
  }

  &__img {
    width: 450px;
    height: auto;
    border-radius: 50%;
  }
}

.products {
  background-color: $black-color;

  &__container {
    width: 100%;
    height: 100vh;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    border-radius: 0.55rem;
    width: 300px;
    height: 475px;
    background-color: $green-color;
  }

  &__data {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% min-content max-content;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 0.55rem 0.55rem 0 0;
  }

  &__title {
    font-family: $title-font;
    font-size: 1.25rem;
    padding: 1rem;
  }

  &__description {
    font-family: $body-font;
    padding-left: 1rem;
  }
}
