<footer class="footer">
  <div class="footer__header">
    <div class="footer__logo">
      <img
        src="./assets/images/Logo_fondo_negro.png"
        alt=""
        class="footer__logo__img"
      />
      <h2 class="footer__logo__title">COFFE MADE BY <br />SEVERAL HUMANS</h2>
    </div>
    <ul class="footer__polytics">
      <li class="footer__item">2023 PLURAL</li>
      <li class="footer__item"><a>TÉRMINOS DE USO</a></li>
      <li class="footer__item"><a>TÉRMINOS Y CONDICIONES</a></li>
      <li class="footer__item"><a>POLITICA DE PRIVACIDAD</a></li>
    </ul>
  </div>
  <ul class="footer__data">
    <li class="footer__item">ACERCA DE</li>
    <li class="footer__item"><a href="" class="footer__link">COMUNIDAD</a></li>
    <li class="footer__item"><a href="" class="footer--link">HISTORIA</a></li>
    <li class="footer__item"><a href="" class="footer__link">BLOG</a></li>
  </ul>
  <ul class="footer__data">
    <li class="footer__item">SIGUENOS</li>
    <li class="footer__item"><a href="" class="footer__link">FACEBOOK</a></li>
    <li class="footer__item"><a href="" class="footer__link">INSTAGRAM</a></li>
    <li class="footer__item"><a href="" class="footer__link">TWITTER</a></li>
  </ul>
  <ul class="footer__data">
    <li class="footer__item"><a href="" class="footer__link">AYUDA</a></li>
    <li class="footer__item"><a href="" class="footer__link">FAQs</a></li>
    <li class="footer__item">
      <a href="" class="footer__link">POLITICA DE REEMBOLSO</a>
    </li>
  </ul>
</footer>
