<footer class="footer">
  <div class="footer__header">
    <div class="footer__logo">
      <img
        src="./assets/images/Logo_fondo_negro.png"
        alt=""
        class="footer__logo__img"
      />
      <h2 class="footer__logo__title">COFFE MADE BY <br />SEVERAL HUMANS</h2>
    </div>
    <ul class="footer__polytics">
      <li class="footer__item">2023 PLURAL</li>
      <li class="footer__item">TÉRMINOS DE USO</li>
      <li class="footer__item">TÉRMINOS Y CONDICIONES</li>
      <li class="footer__item">POLITICA DE PRIVACIDAD</li>
    </ul>
  </div>
  <ul class="footer__data">
    <li class="footer__item">ACERCA DE</li>
    <li class="footer__item">COMUNIDAD</li>
    <li class="footer__item">HISTORIA</li>
    <li class="footer__item">BLOG</li>
  </ul>
  <ul class="footer__data">
    <li class="footer__item">SIGUENOS</li>
    <li class="footer__item">FACEBOOK</li>
    <li class="footer__item">INSTAGRAM</li>
    <li class="footer__item">TWITTER</li>
  </ul>
  <ul class="footer__data">
    <li class="footer__item">AYUDA</li>
    <li class="footer__item">FAQs</li>
    <li class="footer__item">POLITICA DE REEMBOLSO</li>
  </ul>
</footer>
