.is-invalid {
  border-color: red;
}

.container {
  display: flex;
  align-items: center;
  width: 700px;
  height: 85vh;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: aqua;

  &__form {
    display: flex;
    gap: 2rem 1rem;
    flex-direction: column;

    width: 100%;
    max-width: 500px;
    padding: 3rem;

    &__control {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }
  }

  &__extra {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
}
